@import "/src/index.scss";
.world {
  background: url(../../../assets/img/bg-3.png);
  background-repeat: no-repeat;
  background-position: right;
 @media(max-width: 500px) {
    background: linear-gradient(to right, rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../../../assets/img/bg-3.png);
 }
  @media (max-width: 350px) {
    width: 126% !important;
  }
  
  &-card-container {
    @media (max-width: 500px) {
      flex-direction: column !important;
    }
  }
  &-card {
    @media (max-width: 700px) {
      width: 18rem !important;
    }
  }
  .btn-launch {
    background-color: rgba(68, 68, 68, 0.25) !important;
    border-radius: 1rem !important;
    color: #fff;
    border-color: #db0968;
    text-transform: capitalize !important;
    &:hover {
      border-color: #db0968;
    }
  }
  &-heading {
    font-weight: 500 !important;
  }
  .btn-moon {
    background: linear-gradient(to right, #db0968, #fec201);
    border-radius: 9px;
  }
}
.img-wrapper {
  @media (max-width: 1000px) {
    height: 30rem !important;
    width: 30rem !important;
  }
  .img-earth {
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 0;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    filter: opacity(0.5);
    @media (max-width: 1000px) {
      width: 70%;
      height: 70%;
    }
  }
}

.people-no {
  background: linear-gradient(90.03deg, #db0968 -5.59%, #fec201 65.86%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent !important;
  font-weight: 500 !important;
}
.flex-container {
  @media (max-width: 700px) {
    flex-direction: column !important;
  }
  .world-member,
  .world-continent {
    @media (max-width: 700px) {
      align-self: center !important;
      align-items: center !important;
    }
  }
}

.swiper {
  width: 100%;
  height: 40rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next {
  right: 50% !important;
  bottom: 0 !important;
  color: #fff !important;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 3rem !important;
  width: 3rem !important;
  @media (max-width: 700px) {
    right: 35% !important;
  }
  &::after {
    font-size: 1.2rem !important;
  }
}
.swiper-button-prev {
  left: 40% !important;
  width: 0.2rem !important;
  color: #fff !important;
  border: 1px solid #fff;

  border-radius: 50%;
  height: 3rem !important;
  width: 3rem !important;
  @media (max-width: 700px) {
    left: 35% !important;
  }

  &::after {
    font-size: 1.2rem !important;
  }
}
