@import '/src/index.scss';
.project {
    background: linear-gradient(to right, rgba(0,0,0,.5), rgba(0,0,0,.8)), url(../../../assets/img/bgColor.png);
    background-position: top;
    background-repeat: no-repeat;
    

    &-text {
        font-family: $font-family !important;
        font-weight: 500 !important;
    }

    .btn-find {
        background-color: rgba(68, 68, 68, 0.25) !important;
        border-radius: 1em !important;
        color: #fff;
        border-color: #DB0968;
        text-transform: capitalize !important;

        
    }
    .image-wrapper {
     margin-top: -9rem;
    transform: skew(-30deg) translateY(-2rem);
   
        
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3,auto);
        grid-gap: 2rem;
    }
}