@import "/src/index.scss";
.logo-title {
  font-family: "Space Grotesk" !important;
  font-weight: 500 !important;
}
.nav-container {
  position: fixed !important;
  width: 100% !important;
  z-index: 10 !important;
  top: 0;

  @media (max-width: 1280px) {
    gap: 2rem !important;
  }
}
.nav-items {
  font-family: "Space Grotesk" !important;
}
.nav-item-container {
  display: flex;
  gap: 3rem;
  li {
    list-style: none;
  }
  @media (max-width: 1440px) {
    gap: 3rem !important;
    margin-left: 2rem !important;
  }
  @media (max-width: 1070px) {
    flex-direction: column !important;
    position: absolute !important;
    top: 0 !important;
    right: 0px !important;
    z-index: 10;
    background: linear-gradient(91.6deg, #db0968 9.43%, #fec201 79.18%);
    height: 100vh;
    justify-content: center;
    width: 25rem;
    align-items: center;
    display: none;
    animation: moveInLeft 0.2s ease-out;
    transition: all 2s ease-in-out 0s;
  }
}
.nav-icon-container {
  display: flex;
  gap: 1rem;
}
.btn-wallet {
  border-color: #2f2f2f !important;
  border-radius: 20px !important;
}
.btn-text {
  font-family: "Space Grotesk" !important;
  font-style: normal;
  font-weight: 300 !important;
  font-size: 1.2rem !important;
  text-transform: capitalize !important;
}

.nav__icon {
  display: none;
  visibility: hidden;
  @media (max-width: 1070px) {
    display: block;
    visibility: visible;
  }
}

.navigation__button {
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 3rem;
  right: 1rem;
  border-radius: 50%;
  z-index: 4000;

  text-align: center;
  cursor: pointer;
}
.navigation__checkbox {
  display: none;
}

.navigation__icon {
  position: relative;
  margin-top: 2rem;
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 4rem;
  height: 2px;
  background-color: #fff;
  display: inline-block;
}
.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  right: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.9rem;
}
.navigation__icon::after {
  top: 0.9rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -0.7rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 0.7rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon:after {
  top: 0;
  transform: rotate(-135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon:before {
  top: 0;
  transform: rotate(135deg);
}
.active {
  display: flex;
}
